.body{
    background-color:rgb(189, 248, 248) ;
}

.animation-container {
    display: flex;
    justify-content: flex-end;
    background-color:  #ffffff;
}

.navbar {
    background-color: #f1f1f1;
    padding: 10px;
    background-color: rgb(189, 248, 248);
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  
.navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
}
  
.navbar-menu {
    list-style: none;
    display: flex;
    margin: 10px;
}
  
.navbar-item {
    margin-left: 50px;
    
}
  
.navbar-link {
    text-decoration: none;
    color: #333;
    border-radius: 10px;
}
  
  


  